.converter__label {
    width: 100%;
    max-width: 300px;
    display: inline-block;
    color: beige;
}

.converter__field {
    border: 2px solid hsla(0, 5%, 21%, 0.466);
    padding: 10px;
    max-width: 400px;
    width: 100%;
    border-radius: 5px;
    background-color: beige;
}

.converter__fieldset {
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.converter__legend {
    background-color: beige;
    padding: 15px;
    border-radius: 5px;
}

.result {
    color: beige;
    margin-top: 10px;
}

.result--convert {
    margin: 10px 15px;
    padding: 0px 10px;
    background-color: beige;
    border-radius: 5px;
    font-size: 20px;
    color: black;
}

.button {
    font-size: 26px;
    border: none;
    width: 100%;    
    background-color: beige;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
}

.button:hover {
    background-color: hsl(60, 56%, 71%);
    cursor: pointer;
}

.button:active {
    background-color: hsl(60, 56%, 60%);
}