.button {
    font-size: 26px;
    border: none;
    width: 100%;
    background-color: beige;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
}

.button:hover {
    background-color: hsl(60, 56%, 71%);
    cursor: pointer;
}

.button:active {
    background-color: hsl(60, 56%, 60%);
}